h1 {
  text-align: center;
  color: #2c3e50;
  background-color:#0c3652;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 20px auto;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 8px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
