:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
}

.login--container{
  width: 100%;
  max-width: 350px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.logo-box{
  color: #1d8cf8;
  font-size: 30px;
  margin-bottom: 10px;
}

.titulo{
  font-size: 28px;
  margin: 0;
}

.subtitulo {
  color: #888;               
  font-size: 14px;      
  margin-bottom: 30px;
}

.campo{
  display:flex;
}


